name: Test

on:
  push:
    branches: '*'
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: registry.opensuse.org/home/tinita/cpanspec/container/containers/opensuse/autoupdate-perl

    steps:
    - uses: actions/checkout@v4
    - name: Run tests
      run: |
        perl -I lib -c bin/update
        perl -I lib -c bin/update-perl
